<ion-header>
  <ion-navbar class="h4 pl4">
    <drively-logo></drively-logo>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="br3">
    <ion-row >
      <ion-col>
        <div class="avenir f-headline fw6 tracked mt6 pl5" style="color:#D87C27">Nav Test</div>
      </ion-col>
    </ion-row>
    <ion-card-content style="padding:0" text-center>
        <button ion-button (click)="openMap()">Open Map</button>
        <div *ngIf="currentLatitude">Coords: {{ currentLongitude }}, {{ currentLongitude }} Error: {{error}}</div>
      </ion-card-content>
  </ion-card>
</ion-content>
