<ion-header>
  <ion-navbar class="h4 pl4">
    <drively-logo></drively-logo>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-card class="br3">
      <ion-row >
        <ion-col>
          <div class="avenir f-headline fw6 tracked mt6 pl5" style="color:#D87C27">Vehicle Inspection Form</div>
        </ion-col>
      </ion-row>
      <ion-card-content style="padding:0">
        <ion-row>
          <ion-col>
            <div  class="avenir f-subheadline mt5 pl5">Driver's name</div>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <form class="mt6 pb5" #f="ngForm" (ngSubmit)="onSubmit(f)">
              <ion-list class="pl6 pr6">
                <ion-item class="mb5">
                  <ion-label fixed>Date</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY" name="date" ngModel></ion-datetime>
                </ion-item>
                <ion-item class="mb5">
                  <ion-label >ID Badge</ion-label>
                  <ion-checkbox name="idBadge" ngModel></ion-checkbox>
                </ion-item>
              </ion-list>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h5 class="avenir f-subheadline fw4 tracked" text-center>Take vehicle inspection photo</h5>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button class="w-75" ion-button icon-left block outline type="button" (click)="onOpenCamera()" style="color: #D87C27; border-color: #D87C27; margin: 0 auto;">
                      <ion-icon name="camera"></ion-icon>Open Camera
                    </button>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="imageUrl !=''">
                  <ion-col>
                    <img [src]="imageUrl">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button class="w-75" ion-button color="secondary" block type="submit" [disabled]="!f.valid" style="background-color:#D87C27; margin: 0 auto;">Submit Vehicle Inspection</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
