<ion-header>
  <ion-navbar class="h4 pl4">
    <drively-logo></drively-logo>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-card class="br3">
      <ion-row >
        <ion-col>
          <div class="avenir f-headline fw6 tracked mt6 pl5" style="color:#D87C27">Vehicle Inspection Form</div>
        </ion-col>
      </ion-row>
      <ion-card-content style="padding:0">
        <ion-row >
          <ion-col>
            <form class="mt6 pb5" [formGroup]="inspectionForm" (ngSubmit)="onSubmit()">
              <ion-list class="pl6 pr6">
                <ion-item class="avenir f2 mb5">
                  <ion-label for="driverName" floating>Driver's Name</ion-label>
                  <ion-input type="text" name="driverName" formControlName="driverName"></ion-input>
                </ion-item>
                <ion-item class="avenir f2 mb5">
                  <ion-label>Date</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY" name="date" formControlName="date"></ion-datetime>
                </ion-item>
                <ion-item class="avenir f2 mb5">
                  <ion-label floating>Cab #</ion-label>
                  <ion-input type="text" name="cabNumber" formControlName="cabNumber"></ion-input>
                  <p *ngIf="!inspectionForm.get('cabNumber').valid && (inspectionForm.get('cabNumber').dirty || inspectionForm.get('cabNumber').touched)">Cab # INVALID</p>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>ID Badge (daily)</ion-label>
                  <ion-checkbox name="idBadge" formControlName="idBadge"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>Paperwork (daily)</ion-label>
                  <ion-checkbox name="paperWork" formControlName="paperWork"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>Clean Car (all garbage needs to be removed daily)</ion-label>
                  <ion-checkbox name="cleanCar" formControlName="cleanCar"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>Phone / Charger (daily)</ion-label>
                  <ion-checkbox name="phoneAndCharger" formControlName="phoneAndCharger"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>Gas Card (daily)</ion-label>
                  <ion-checkbox name="gasCard" formControlName="gasCard"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>Oil Change Due</ion-label>
                  <ion-checkbox name="oilChangeDue" formControlName="oilChangeDue" (ionChange)="onOilChangeDue()"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5 ml5" *ngIf="oilChangeDueFlag">
                  <ion-label>Due Date:</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY" name="oilChangeDate" formControlName="oilChangeDate"></ion-datetime>
                </ion-item>
                <ion-item class="avenir mb5 ml5" *ngIf="oilChangeDueFlag">
                  <ion-label>Mileage:</ion-label>
                  <ion-input type="text" name="oilChangeMileage" formControlName="oilChangeMileage"></ion-input>
                </ion-item>
                <ion-item class="avenir mb5 ml5" *ngIf="oilChangeDueFlag">
                  <ion-label>Current Mileage:</ion-label>
                  <ion-input type="text" name="currentMileage" formControlName="currentMileage"></ion-input>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>Brake Lights (daily)</ion-label>
                  <ion-checkbox name="breakLights" formControlName="breakLights"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>Head Lights HIGH / LOW (daily)</ion-label>
                  <ion-checkbox name="headLights" formControlName="headLights"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>Tires</ion-label>
                  <ion-checkbox name="tires" formControlName="tires"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>Accident / Incident Reports</ion-label>
                  <ion-checkbox name="accidentReports" formControlName="accidentReports"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5">
                  <ion-label>First Aid Kit (when entering a new car)</ion-label>
                  <ion-checkbox name="firstAidKit" formControlName="firstAidKit" (ionChange)="onFirstAidKit()"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5 ml5" *ngIf="firstAidKitFlag">
                  <ion-label>Items to be Replaced</ion-label>
                </ion-item>
                <ion-item class="avenir mb5 ml5" *ngIf="firstAidKitFlag">
                  <button ion-button type="button" (click)="onAddFirstAidKitItem()">Add First Aid Kit Item</button>
                </ion-item>
                <div class="avenir mb5 ml5" formArrayName="firstAidKitItemsToReplace" *ngIf="firstAidKitFlag">
                  <ion-row *ngFor="let item of inspectionForm.get('firstAidKitItemsToReplace').controls; let i = index;" [formGroupName]="i">
                    <ion-col col-6>
                      <ion-input type="text" formControlName="itemName" placeholder="Item Name"></ion-input>
                    </ion-col>
                    <ion-col col-4>
                      <ion-input type="text" formControlName="itemQuantity" placeholder="Item Quantity"></ion-input>
                    </ion-col>
                    <ion-col col-2>
                      <button ion-button type="button" (click)="onDeleteFirstAidKitItem(i)">X</button>
                    </ion-col>
                  </ion-row>
                </div>
                <ion-item class="avenir mb5">
                  <ion-label>BIO Hazard Kit (when entering a new car)</ion-label>
                  <ion-checkbox name="bioHazardKit" formControlName="bioHazardKit" (ionChange)="onBioHazardKit()"></ion-checkbox>
                </ion-item>
                <ion-item class="avenir mb5 ml5" *ngIf="bioHazardKitFlag">
                  <ion-label>Items to be Replaced</ion-label>
                </ion-item>
                <ion-item class="avenir mb5 ml5" *ngIf="bioHazardKitFlag">
                  <button ion-button type="button" (click)="onAddBioHazardKitItem()">Add BIO Hazard Kit Item</button>
                </ion-item>
                <div class="avenir mb5 ml5" formArrayName="bioHazardKitItemsToReplace" *ngIf="bioHazardKitFlag">
                  <ion-row *ngFor="let item of inspectionForm.get('bioHazardKitItemsToReplace').controls; let i = index;" [formGroupName]="i">
                    <ion-col col-6>
                      <ion-input type="text" formControlName="itemName" placeholder="Item Name"></ion-input>
                    </ion-col>
                    <ion-col col-4>
                      <ion-input type="text" formControlName="itemQuantity" placeholder="Item Quantity"></ion-input>
                    </ion-col>
                    <ion-col col-2>
                      <button ion-button type="button" (click)="onDeleteBioHazardKitItem(i)">X</button>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-list>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h5 class="avenir f-subheadline fw4 tracked" text-center>Take vehicle inspection photo</h5>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button class="w-75" ion-button icon-left block outline type="button" (click)="onOpenCamera()" style="color: #D87C27; border-color: #D87C27; margin: 0 auto;">
                      <ion-icon name="camera"></ion-icon>Open Camera
                    </button>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="imageUrl !=''">
                  <ion-col>
                    <img [src]="imageUrl">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button class="w-75" ion-button color="secondary" block type="submit" [disabled]="!inspectionForm.valid" style="background-color:#D87C27; margin: 0 auto;">Submit Vehicle Inspection</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
