<ion-header>
  <ion-navbar class="h4 pl4">
    <drively-logo></drively-logo>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-col text-center>
          <div class="avenir f-subheadline fw5 tracked mt6">Company Authentication</div>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <ion-row >
          <ion-col text-center>
              <div class="avenir f2 mt5">Enter your company code to continue to Driver Login.</div>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <ion-list>
                <ion-item>
                  <ion-label floating>Company Name</ion-label>
                  <ion-input type="text" name="company" ngModel required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Company Code</ion-label>
                  <ion-input type="password" name="companyCode" ngModel required></ion-input>
                </ion-item>
              </ion-list>
              <button type="submit" ion-button block [disabled]="!f.valid">Submit Code</button>
            </form >
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
