<ion-header>
  <ion-navbar class="h4 pl4">
    <drively-logo></drively-logo>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="pa5" style="background:linear-gradient(90deg, rgb(216, 124, 39) 0%, rgb(247, 184, 126) 100%) no-repeat;">
    <ion-col col-9>
      <span class="avenir f1 fw6 tracked white db">Routes remaining</span>
      <span class="avenir f3 fw4 tracked white db mt4">Swipe a route left to begin/end a trip</span>
      <span class="avenir f3 fw4 tracked white db mt2">Swipe a route right to access trip notes</span>
      <span class="avenir f3 fw4 tracked white db mt2">Tap to expand route card</span>
    </ion-col>
    <ion-col col-3 align-items-center>
      <span class="avenir f-headline fw6 tracked white">{{ numRoutes }}</span>
    </ion-col>
  </ion-row>

  <!-- <ion-list no-lines class="mt4" *ngIf="routes">
    <ion-item-sliding *ngFor="let route of routes;let i = index;">
      <ion-item >
        <ion-card class="br3 bl bw3 shadow-3" style="border-color:#D87C27">
          <ion-card-content no-padding class="unfold-parent" (click)="onUnFold(route)" [ngClass]="{'isActive': route===currentRoute && isActive}">
            <ion-row class="pa4 relative unfold-first-child">
              <ion-col col-3 class="br b--silver">
                <ion-row>
                  <ion-col col-12>
                    <h1 class="avenir f-headline fw6 tracked" style="color:#D87C27">Route:</h1>
                  </ion-col>
                </ion-row>
                <ion-row class="mt5">
                  <ion-col col-12>
                    <span class="avenir f4 fw6" style="color:#D87C27">Pick Up Time:</span>
                  </ion-col>
                  <ion-col col-12>
                    <span class="avenir f2 fw7">{{ route.pickUpTime }}</span>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-9 class="pl4">
                <ion-row>
                  <ion-col col-1 dotted-border>
                  </ion-col>
                  <ion-col col-11 class="pl3">
                    <ion-row>
                      <ion-col col-12 class="bb bw6 tc">
                        <span class="avenir f3 fw3">{{ route.sourceAddr }}</span>
                      </ion-col>
                      <ion-col col-12 class="tc">
                        <span class="avenir f3 fw3">{{ route.destinationAddr }}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row class="mt5">
                  <ion-col col-3 push-1>
                    <ion-row>
                      <ion-col col-12>
                        <span class="avenir f4 fw6" style="color:#D87C27">Appointment Time:</span>
                      </ion-col>
                      <ion-col col-12>
                        <span class="avenir f2 fw7">{{ route.appointmentTime }}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col col-2 push-2>
                    <ion-row>
                      <ion-col col-12>
                        <span class="avenir f4 fw6" style="color:#D87C27">Ambulatory:</span>
                      </ion-col>
                      <ion-col col-12>
                        <span class="avenir f2 fw8"*ngIf="route.ambulatory;else notAmbulatory">Y</span>
                        <ng-template #notAmbulatory><span class="avenir f2 fw8">N</span></ng-template>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col col-2 push-3>
                    <ion-row>
                      <ion-col col-12>
                        <span class="avenir f4 fw6" style="color:#D87C27">Shared Ride:</span>
                      </ion-col>
                      <ion-col col-12>
                        <span class="avenir f2 fw8" *ngIf="route.shared;else notShared">Y</span>
                        <ng-template #notShared><span class="avenir f2 fw8">N</span></ng-template>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="unfold-second-child" *ngIf="route.notes">
              <ion-col col-1 push-1 dotted-border>
              </ion-col>
              <ion-col col-5 push-1>
                <h1 class="avenir f2 fw4">Route Notes: </h1>
                <span class="avenir f3 fw3">{{ route.notes }}</span>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="right">
        <ion-row *ngIf="currentLocation;else spinner">
          <ion-col col-12 no-padding>
            <button ion-button class="bg-blue" (click)="openMap(route)">
              <ion-icon name="send"></ion-icon>
              Start Trip
            </button>
            <button ion-button class="bg-red" (click)="onRouteComplete(route)">
              <ion-icon name="checkmark"></ion-icon>
              Trip Complete
            </button>
          </ion-col>
        </ion-row>
        <ng-template #spinner>
          <ion-row>
            <ion-col col-8>
              <h1 class="avenir f3 fw6">Location data is loading...</h1>
            </ion-col>
            <ion-col col-4>
              <ion-spinner></ion-spinner>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-item-options>
      <ion-item-options side="left">
        <ion-row>
          <ion-col col-12 no-padding>
            <button ion-button style="background-color:#D87C27" (click)="onOpenRouteNotes(route)">
              <ion-icon name="document"></ion-icon>
              Access Trip Notes
            </button>
          </ion-col>
        </ion-row>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <ion-list no-lines class="mt4" *ngIf="routes">
    <ion-item-sliding>
      <ion-item >
        <ion-card class="br3 bl bw3 shadow-3" style="border-color:#D87C27">
          <ion-card-content no-padding class="unfold-parent" (click)="onUnFold()" [ngClass]="{'isActive': isActive}">
            <ion-row class="pa4 relative unfold-first-child">
              <ion-col col-3 class="br b--silver">
                <ion-row>
                  <ion-col col-12>
                    <h1 class="avenir f-headline fw6 tracked" style="color:#D87C27">Route:</h1>
                  </ion-col>
                </ion-row>
                <ion-row class="mt5">
                  <ion-col col-12>
                    <span class="avenir f4 fw6" style="color:#D87C27">Pick Up Time:</span>
                  </ion-col>
                  <ion-col col-12>
                    <span class="avenir f2 fw7">{{ currentRoute.pickUpTime }}</span>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-9 class="pl4">
                <ion-row>
                  <ion-col col-1 dotted-border>
                  </ion-col>
                  <ion-col col-11 class="pl3">
                    <ion-row>
                      <ion-col col-12 class="bb bw6 tc">
                        <span class="avenir f3 fw3">{{ currentRoute.sourceAddr }}</span>
                      </ion-col>
                      <ion-col col-12 class="tc">
                        <span class="avenir f3 fw3">{{ currentRoute.destinationAddr }}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row class="mt5">
                  <ion-col col-3 push-1>
                    <ion-row>
                      <ion-col col-12>
                        <span class="avenir f4 fw6" style="color:#D87C27">Appointment Time:</span>
                      </ion-col>
                      <ion-col col-12>
                        <span class="avenir f2 fw7">{{ currentRoute.appointmentTime }}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col col-2 push-2>
                    <ion-row>
                      <ion-col col-12>
                        <span class="avenir f4 fw6" style="color:#D87C27">Ambulatory:</span>
                      </ion-col>
                      <ion-col col-12>
                        <span class="avenir f2 fw8"*ngIf="currentRoute.ambulatory;else notAmbulatory">Y</span>
                        <ng-template #notAmbulatory><span class="avenir f2 fw8">N</span></ng-template>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col col-2 push-3>
                    <ion-row>
                      <ion-col col-12>
                        <span class="avenir f4 fw6" style="color:#D87C27">Shared Ride:</span>
                      </ion-col>
                      <ion-col col-12>
                        <span class="avenir f2 fw8" *ngIf="currentRoute.shared;else notShared">Y</span>
                        <ng-template #notShared><span class="avenir f2 fw8">N</span></ng-template>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="unfold-second-child" *ngIf="currentRoute.tripNotes">
              <ion-col col-1 push-1 dotted-border>
              </ion-col>
              <ion-col col-8 push-1 text-wrap>
                <h1 class="avenir f2 fw4">Trip Notes: </h1>
                <span class="db avenir f3 fw3 mt4">{{ currentRoute.tripNotes }}</span>
              </ion-col>
            </ion-row>
            <ion-row class="pt4 pb4 w-80 bt bw1" *ngIf="arrivedAtPickup" style="margin: 0 auto;">
              <ion-col>
                <ion-card class="pa4 bg-moon-gray" *ngIf="!pickupNotesFormSubmitted;else mileageForm" [@loadPickupNotesForm]>
                  <ion-card-content>
                    <ion-row>
                      <ion-col>
                        <span class="avenir f1 fw8">Pickup Notes: </span>
                        <span class="db avenir f3 fw6">Complete this form to end this trip.</span>
                        <form class="db mt4" [formGroup]="pickupNotesForm" (ngSubmit)="onSubmitPickupNotes()">
                          <ion-list>
                            <ion-item class="avenir f2 mb4 bg-moon-gray">
                              <ion-label for="additionalPassengers">
                                Additional Passengers
                              </ion-label>
                              <ion-checkbox name="additionalPassengers" formControlName="additionalPassengers"></ion-checkbox>
                            </ion-item>
                            <ion-item class="avenir f2 mb4 bg-moon-gray">
                              <ion-label for="noShow">
                                No Show
                              </ion-label>
                              <ion-checkbox name="noShow" formControlName="noShow"></ion-checkbox>
                            </ion-item>
                            <ion-item class="avenir f2 mb4 bg-moon-gray">
                              <ion-label for="cancellation">
                                Cancellation
                              </ion-label>
                              <ion-checkbox name="cancellation" formControlName="cancellation"></ion-checkbox>
                            </ion-item>
                          </ion-list>
                          <ion-grid>
                          <ion-row>
                            <ion-col>
                              <h5 class="avenir f-subheadline fw4 tracked" text-center>Take photo of facesheet</h5>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <button class="w-75" ion-button icon-left block outline type="button" (click)="onOpenCamera()" style="color: #D87C27; border-color: #D87C27; margin: 0 auto;">
                                <ion-icon name="camera"></ion-icon>Open Camera
                              </button>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="imageUrl !=''">
                            <ion-col>
                              <img [src]="imageUrl">
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <button class="w-75" ion-button color="secondary" block type="submit" style="background-color:#D87C27; margin: 0 auto;">Submit Pickup Notes</button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        </form>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
                <ng-template #mileageForm>
                  <ion-card class="pa4 bg-moon-gray" [@loadStartingMileageForm]>
                    <ion-row>
                      <ion-col>
                        <span class="avenir f1 fw8">Enter Starting Mileage: </span>
                        <span class="db avenir f3 fw6">Complete this form to end this trip.</span>

                      </ion-col>
                    </ion-row>
                  </ion-card>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="right">
        <!-- <ion-row *ngIf="currentLocation;else spinner"> -->
        <ion-row>
          <ion-col col-12 no-padding *ngIf="currentRoute.type === 'p';else dropOff">
            <button ion-button class="bg-blue" (click)="onStartPickup()">
              <ion-icon name="send"></ion-icon>
              Start Pickup Trip
            </button>
            <button ion-button class="bg-red" (click)="onArrivedAtPickup()">
              <ion-icon name="checkmark"></ion-icon>
              Pickup Complete
            </button>
          </ion-col>
          <ng-template #dropOff>
            <ion-col col-12 no-padding>
              <button ion-button class="bg-blue" (click)="openMap()">
                <ion-icon name="send"></ion-icon>
                Start Dropoff Trip
              </button>
              <button ion-button class="bg-red" (click)="onRouteComplete()">
                <ion-icon name="checkmark"></ion-icon>
                Dropoff Complete
              </button>
            </ion-col>
          </ng-template>
        </ion-row>
        <ng-template #spinner>
          <ion-row>
            <ion-col col-8>
              <h1 class="avenir f3 fw6">Location data is loading...</h1>
            </ion-col>
            <ion-col col-4>
              <ion-spinner></ion-spinner>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-item-options>
      <ion-item-options side="left">
        <ion-row>
          <ion-col col-12 no-padding>
            <button ion-button style="background-color:#D87C27" (click)="onOpenRouteNotes()">
              <ion-icon name="document"></ion-icon>
              Trip Notes
            </button>
          </ion-col>
        </ion-row>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
