.unfold-parent {
  position: relative;

  overflow: hidden;
  cursor: pointer;

  perspective: 800px;
  transform-style: preserve-3d;
}

.unfold-first-child,
.unfold-second-child {
  $bg: rgba(white, 1);
  width: 100%;
  padding: 15px 30px;
  position: relative;
  background: $bg;

}

.unfold-first-child {
  transition: .6s ease all;
}

.unfold-second-child {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  transform: rotateX(180deg);
  transform-origin: top center;
  backface-visibility: hidden;
  transition: .6s transform ease;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    height: 1px;
    background: grey;
  }

  .unfold-parent.isActive & {
    max-height: none;
    overflow: visible;
    visibility: visible;
    transform: rotateX(0deg);

    &.unfold-second-child {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
