<ion-header>
  <ion-navbar class="h4 pl4">
    <drively-logo></drively-logo>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="bg-black pa5">
    <ion-col col-9>
      <span class="avenir f1 fw6 tracked white db">Routes remaining</span>
      <span class="avenir f3 fw6 tracked white db mt2">Select a route to begin a trip</span>
    </ion-col>
    <ion-col col-3 align-items-center>
      <span class="avenir f-headline fw6 tracked white">{{ numRoutes }}</span>
    </ion-col>
  </ion-row>

  <ion-card class="br3 bl b--orange bw3" *ngFor="let route of routes;let i = index;" (click)="onGetRoute(route)">
    <ion-card-content no-padding>
      <ion-row class="pa4">
        <ion-col col-3 class="br b--silver">
          <h1 class="avenir f-headline fw6 tracked" style="color:#D87C27">Route: {{ i }}</h1>
          <ion-row class="mt5">
            <ion-col col-12>
              <span class="avenir f4 fw6 silver">Pick Up Time:</span>
            </ion-col>
            <ion-col col-12>
              <span class="avenir f2 fw8">{{ route.pickUpTime }}</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-9 class="pl4">
          <ion-row>
            <ion-col col-1 dotted-border>
            </ion-col>
            <ion-col col-11 class="pl3">
              <ion-row>
                <ion-col col-12 class="bb bw6">
                  <span class="avenir f2 fw3">{{ route.sourceAddr }}</span>
                </ion-col>
                <ion-col col-12>
                  <span class="avenir f2 fw3">{{ route.destinationAddr }}</span>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
