<ion-header>
  <ion-navbar class="h4 pl4">
    <drively-logo></drively-logo>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="currentRoute">
  <ion-row class="pa5" style="background:linear-gradient(90deg, rgb(216, 124, 39) 0%, rgb(247, 184, 126) 100%) no-repeat;">
    <ion-col col-9>
      <div class="transition-animated" *ngIf="state.routeType==='p';else dropOffHeader">
        <h1 class="avenir f-headline fw8-ns fw6-l tracked white">Pickup</h1>
        <span class="avenir f3 fw4 tracked white db mt4">Swipe a route left to start/end this pickup</span>
        <span class="avenir f3 fw4 tracked white db mt2">Swipe a route right to access trip notes</span>
        <span class="avenir f3 fw4 tracked white db mt2">Tap to expand this pickup card</span>
      </div>
      <ng-template class="transition-animated" #dropOffHeader>
        <h1 class="avenir f-headline fw8-ns fw4-l tracked white">Drop Off</h1>
        <span class="avenir f3 fw4 tracked white db mt4">Swipe a route left to begin/end this drop off</span>
        <span class="avenir f3 fw4 tracked white db mt2">Swipe a route right to access trip notes</span>
        <span class="avenir f3 fw4 tracked white db mt2">Tap to expand this drop off card</span>
      </ng-template>
    </ion-col>
    <ion-col col-3>
      <ion-row align-items-start>
        <ion-col>
          <span class="db avenir f3 fw6 white tr">Routes remaining:</span>
          <span class="db avenir f-headline fw6 tr">{{ state.numRoutes }}</span>
        </ion-col>
      </ion-row>
      <ion-row class="mt6">
        <ion-col>
          <span class="db avenir f3 fw6-ns fw8-l white tr">Status:</span>
          <span class="db avenir f4 fw6-ns fw8-l tr" *ngIf="!state.tripDidStart && !state.endingMileageFormAccessible && !state.pickNotesFormAccessible">Not Started</span>
          <span class="db avenir f4 fw6-ns fw8-l tr" *ngIf="state.tripDidStart && state.tripCanEnd" style="background-color:#6EFFA3;">In Progress</span>
          <span class="db avenir f4 fw6-ns fw8-l tr" *ngIf="state.endingMileageFormAccessible || state.pickNotesFormAccessible" style="background-color:#FF552E;">Ended</span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-list no-lines class="mt4" *ngIf="currentRoute;else noRoutes">
    <ion-item-sliding>
      <ion-item>
        <ion-card class="br3 bl bw3 shadow-3 transition-animated" [ngStyle]="{'border-color': state.routeType=='p' ? '#D87C27' : '#A8A8A8'}">
          <ion-card-content no-padding class="unfold-parent" (click)="onUnFold()" [ngClass]="{'isActive': isActive}">
            <ion-row class="pa4 relative unfold-first-child transition-animated" [ngStyle]="{'background-color': state.routeType=='p' ? '' : '#D87C27'}">
              <ion-col col-3 class="br b--silver" [ngStyle]="{'border-color': state.routeType==='p' ? '' : 'white'}">
                <ion-row>
                  <ion-col col-12>
                    <h1 class="avenir f-headline fw8 tracked" [ngStyle]="{'color': state.routeType=='p' ? '#D87C27' : 'black'}" *ngIf="state.routeType=='p'"  [@fade]>Pickup</h1>
                    <h1 class="avenir f-headline fw8 tracked" [ngStyle]="{'color': state.routeType=='p' ? '#D87C27' : 'black'}" *ngIf="state.routeType=='d'" [@fade]>Drop Off</h1>
                  </ion-col>
                </ion-row>
                <ion-row class="mt5">
                  <ion-col col-12>
                    <span class="avenir f4 fw6 transition-animated" [ngStyle]="{'color': state.routeType=='p' ? '#D87C27' : 'white'}">Pick Up Time:</span>
                  </ion-col>
                  <ion-col col-12>
                    <span class="avenir f2 fw7">{{ currentRoute.pickUpTime }}</span>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-9 class="pl4">
                <ion-row>
                  <ion-col col-1 dotted-border [svgType]="state.routeType" *ngIf="state.routeType=='p';else altBorder">
                  </ion-col>
                  <ng-template #altBorder>
                    <ion-col col-1 dotted-border [svgType]="state.routeType">
                    </ion-col>
                  </ng-template>
                  <ion-col col-11 class="pl3">
                    <ion-row>
                      <ion-col col-12 class="bb bw6 tc transition-animated" [ngStyle]="{'border-color': state.routeType=='p' ? '#D87C27' : 'white'}">
                        <span class="avenir f3 fw3">{{ currentRoute.sourceAddr }}</span>
                      </ion-col>
                      <ion-col col-12 class="tc">
                        <span class="avenir f3 fw3">{{ currentRoute.destinationAddr }}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row class="mt5">
                  <ion-col col-3 push-1>
                    <ion-row>
                      <ion-col col-12>
                        <span class="avenir f4 fw6 transition-animated" [ngStyle]="{'color': state.routeType=='p' ? '#D87C27' : 'white'}">Appointment Time:</span>
                      </ion-col>
                      <ion-col col-12>
                        <span class="avenir f2 fw7 transition-animated">{{ currentRoute.appointmentTime }}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col col-2 push-2>
                    <ion-row>
                      <ion-col col-12>
                        <span class="avenir f4 fw6 transition-animated" [ngStyle]="{'color': state.routeType=='p' ? '#D87C27' : 'white'}">Ambulatory</span>
                      </ion-col>
                      <ion-col col-12>
                        <span class="avenir f2 fw8" *ngIf="currentRoute.ambulatory;else notAmbulatory" [@fade]>Y</span>
                        <ng-template #notAmbulatory><span class="avenir f2 fw8" [@fade]>N</span></ng-template>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col col-2 push-3>
                    <ion-row>
                      <ion-col col-12>
                        <span class="avenir f4 fw6 transition-animated" [ngStyle]="{'color': state.routeType=='p' ? '#D87C27' : 'white'}">Shared Ride:</span>
                      </ion-col>
                      <ion-col col-12>
                        <span class="avenir f2 fw8" *ngIf="currentRoute.shared;else notShared" [@fade]>Y</span>
                        <ng-template #notShared><span class="avenir f2 fw8" [@fade]>N</span></ng-template>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="unfold-second-child" *ngIf="currentRoute.tripNotes" [ngStyle]="{'background-color': state.routeType=='p' ? '' : '#D87C27'}">
              <ion-col col-1 push-1 dotted-border [svgType]="state.routeType">
              </ion-col>
              <ion-col col-8 push-1 text-wrap>
                <h1 class="avenir f2 fw4">Trip Notes: </h1>
                <span class="db avenir f3 fw3 mt4 transition-animated" [ngStyle]="{'color': state.routeType=='p' ? 'black' : 'white'}">{{ currentRoute.tripNotes }}</span>
              </ion-col>
            </ion-row>
            <ion-row class="pt4 pb4 w-80 bt bw1" *ngIf="state.pickNotesFormAccessible" style="margin: 0 auto;" [@expandCard]>
              <ion-col>
                <ion-card class="pa4 bg-moon-gray">
                  <ion-card-content>
                    <ion-row>
                      <ion-col>
                        <span class="avenir f1 fw8-ns fw6-l">Pickup Notes: </span>
                        <span class="db avenir f3 fw6">Complete this form to end this pickup.</span>
                        <form class="db mt4" [formGroup]="pickupNotesForm" (ngSubmit)="onSubmitPickupNotes()">
                          <ion-list>
                            <ion-item class="avenir f2 mb4 bg-moon-gray">
                              <ion-label for="additionalPassengers">
                                Additional Passengers
                              </ion-label>
                              <ion-checkbox name="additionalPassengers" formControlName="additionalPassengers"></ion-checkbox>
                            </ion-item>
                            <ion-item class="avenir f2 mb4 bg-moon-gray">
                              <ion-label for="noShow">
                                No Show
                              </ion-label>
                              <ion-checkbox name="noShow" formControlName="noShow"></ion-checkbox>
                            </ion-item>
                            <ion-item class="avenir f2 mb4 bg-moon-gray">
                              <ion-label for="cancellation">
                                Cancellation
                              </ion-label>
                              <ion-checkbox name="cancellation" formControlName="cancellation"></ion-checkbox>
                            </ion-item>
                          </ion-list>
                          <ion-grid>
                            <ion-row>
                              <ion-col>
                                <h5 class="avenir f-subheadline fw4 tracked" text-center>Take photo of facesheet</h5>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <button class="w-75" ion-button icon-left block outline type="button" (click)="onOpenCamera()" style="color: #D87C27; border-color: #D87C27; margin: 0 auto;">
                                  <ion-icon name="camera"></ion-icon>Open Camera
                                </button>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="imagePath !=''">
                              <ion-col>
                                <img [src]="imagePath">
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <button class="w-75" ion-button color="secondary" block type="submit" style="background-color:#D87C27; margin: 0 auto;">Submit Pickup Notes</button>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </form>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="state.startingMileageFormAccessible" [ngStyle]="{'background-color': state.routeType=='d' ? '#D87C27' : ''}" [@expandCard]>
              <ion-col>
                <ion-row class="pt4 pb4 w-80 bt bw1" style="margin: 0 auto;">
                  <ion-col>
                    <ion-card class="pa4 bg-moon-gray">
                      <ion-card-content>
                        <ion-row>
                          <ion-col>
                            <span class="avenir f1 fw8-ns fw6-l">Starting Mileage: </span>
                            <span class="db avenir f3 fw6" *ngIf="this.state.routeType==='p'">Enter your starting mileage for this Pickup.</span>
                            <span class="db avenir f3 fw6" *ngIf="this.state.routeType==='d'">Enter your ending mileage for this Drop Off.</span>
                            <form class="db mt4" [formGroup]="startingMileageForm" (ngSubmit)="onSubmitStartingMileageForm()">
                              <ion-list>
                                <ion-item class="avenir f2 mb4 bg-moon-gray">
                                  <ion-label for="startingMileage" floating>
                                    Starting Mileage
                                  </ion-label>
                                  <ion-input name="startingMileage" formControlName="startingMileage"></ion-input>
                                </ion-item>
                              </ion-list>
                              <ion-grid>
                                <ion-row>
                                  <ion-col>
                                    <button class="w-75" ion-button color="secondary" block type="submit" [disabled]="!startingMileageForm.valid && !startingMileageForm.get('startingMileage').valid" style="background-color:#D87C27; margin: 0 auto;">Submit Starting Mileage</button>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </form>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="state.endingMileageFormAccessible" [ngStyle]="{'background-color': state.routeType=='d' ? '#D87C27' : ''}" [@expandCard]>
              <ion-col>
                <ion-row class="pt4 pb4 w-80 bt bw1" style="margin: 0 auto;">
                  <ion-col>
                    <ion-card class="pa4 bg-moon-gray">
                      <ion-card-content>
                        <ion-row>
                          <ion-col>
                            <span class="avenir f1 fw8-ns fw6-l">Ending Mileage: </span>
                            <span class="db avenir f3 fw6" *ngIf="this.state.routeType==='p'">Enter your ending mileage for this Pickup.</span>
                            <span class="db avenir f3 fw6" *ngIf="this.state.routeType==='d'">Enter your ending mileage for this Drop Off.</span>
                            <form class="db mt4" [formGroup]="endingMileageForm" (ngSubmit)="onSubmitEndingMileageForm()">
                              <ion-list>
                                <ion-item class="avenir f2 mb4 bg-moon-gray">
                                  <ion-label for="endingMileage" floating>
                                    Ending Mileage
                                  </ion-label>
                                  <ion-input name="endingMileage" formControlName="endingMileage"></ion-input>
                                </ion-item>
                              </ion-list>
                              <ion-grid>
                                <ion-row>
                                  <ion-col>
                                    <button class="w-75" ion-button color="secondary" block type="submit" [disabled]="!endingMileageForm.valid && !endingMileageForm.get('endingMileage').valid" style="background-color:#D87C27; margin: 0 auto;">Submit Ending Mileage</button>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </form>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="right">
        <!-- <ion-row *ngIf="currentLocation;else spinner"> -->
        <ion-row>
          <ion-col col-12 no-padding>
            <button ion-button *ngIf="!state.tripDidStart;else pDidStart" (click)="onStartRoute()" style="background-color:#6EFFA3;color:black;" [disabled]="!state.tripCanStart">
              <ion-icon name="send"></ion-icon>
              <span *ngIf="state.routeType==='p'">Start Pickup Trip</span>
              <span *ngIf="state.routeType==='d'">Start Drop Off Trip</span>
            </button>
            <ng-template #pDidStart>
              <button ion-button (click)="onStartRoute(true)" style="background-color:#6EFFA3;color:black;" [disabled]="!state.tripCanStart">
                <ion-icon name="send"></ion-icon>
                Back to Map
              </button>
            </ng-template>
            <button ion-button (click)="onTripComplete()" style="background-color:#FF552E;" [disabled]="!state.tripCanEnd">
              <ion-icon name="checkmark"></ion-icon>
              <span *ngIf="state.routeType==='p'">Pickup Complete</span>
              <span *ngIf="state.routeType==='d'">Dropoff Complete</span>
            </button>
          </ion-col>
        </ion-row>
        <ng-template #spinner>
          <ion-row>
            <ion-col col-8>
              <h1 class="avenir f3 fw6">Location data is loading...</h1>
            </ion-col>
            <ion-col col-4>
              <ion-spinner></ion-spinner>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-item-options>
      <ion-item-options side="left">
        <ion-row>
          <ion-col col-12 no-padding>
            <button ion-button style="background-color:#A8A8A8;" (click)="onOpenRouteNotes()">
              <ion-icon name="document"></ion-icon>
              Trip Notes
            </button>
          </ion-col>
        </ion-row>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ng-template #noRoutes>
    <ion-row>
      <ion-col col-12>
        <h1 class="avenir f3 fw6">No Routes </h1>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
